@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 17 24 39;
    --foreground: 255 255 255;
  }
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
  @apply bg-neutral-900 text-neutral-100;
}

input[type="checkbox"] {
  @apply rounded border-neutral-300 bg-neutral-700;
}

input[type="checkbox"]:checked {
  /* background-image: none; */
}

input[type="checkbox"]:checked ~ svg {
  opacity: 1;
}

.handle {
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1;
}

@layer components {
  .responsive-container {
    @apply max-w-4xl mx-auto p-4 w-full;
  }

  .mobile-menu-button {
    @apply fixed top-4 left-4 z-50 p-2 bg-gray-800 rounded-lg md:hidden;
  }

  .sidebar {
    @apply w-64 h-screen bg-gray-800 p-4 fixed left-0 top-0 transition-transform z-40;
  }
}